.jumbotron h1{
    font-family: roboto;
    font-weight: 900;
    color: rgb(255, 255, 255)!important;
}
  

  .button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    border: none!important;
    background-color: #a01689!important;
    border: none;
    color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #471939;
    border-radius: 4px;
    transition: color 1s;
  }
  
  .button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #961abc;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #bc1ab4;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }
  
  html {
    scroll-behavior: smooth;
}

#portfolio h2{
    color: blueviolet!important;
    font-weight: 400;
}


.navbar a{
    font-family: roboto;
}

.card {
    width: 50%;
    height: 50%;
    padding: 2em;
}

.dad1 {
    margin-left: 6em;
}


.dad2 {
    margin-left: 6em;
}

.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
 }
 
 .border-between > [class*='col-']:first-child:before {
    display: none;
 }

 /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(128, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  /* try sometihng */

.navbar {
  box-shadow: 0px 0px 18px #2b2b2b;
}


/* black red effect */

.bwf {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bwf:hover {
	cursor: pointer;
}

.bwf img {
	filter: grayscale();
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
}

.bwf:hover img {
	filter: none;
}


/* but */

#but {
  padding-bottom: 0.6em;
}